 
  .resizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin-inline: auto;
    padding: 1rem;
  }
  
  .resizer h2 {
    background-image: linear-gradient(45deg, #0086e6, #003256 50%, #e27100 50%);
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: calc(1rem + 1vw);
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
  }
  
  .resizer .controls {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .resizer .controls label {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .resizer input,
  .resizer select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-family: inherit;
    outline: none;
    background-color: rgba(100, 100, 100, 0.5);
    color: var(--white);
    margin-bottom: 1rem;
    font-size: calc(1rem + 0.5vw);
    width: 100%;
  }
  
  .resizer button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: calc(1rem + 0.5vw);
    font-weight: 500;
    background-color: var(--theme-text);
    color: var(--black);
    cursor: pointer;
  }
  
  .resizer .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin-inline: auto;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  .resizer .result h3 {
    font-size: calc(1rem + 1vw);
    text-align: center;
    font-weight: 500;
    color: var(--white);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 20px var(--theme-color), 0 10px 50px var(--black);
    background-image: linear-gradient(45deg, #0086e6, #003256 50%, #b90b0b 50%);
  }
  
  .resizer .result .resizedImages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .resizer .result .resizedImage {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .resizer .result .resizedImage img {
    width: 100%;
    max-width: 500px;
  }
  
  .resizer .result .resizedImage button {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: calc(1rem + 0.5vw);
    font-weight: 700;
    font-family: inherit;
    background-color: var(--theme-color);
    box-shadow: 0 0 5px var(--theme-color);
    cursor: pointer;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1024px) {
    .resizer h2 {
      font-size: calc(1rem + 1.5vw);
    }
  
    .resizer input,
    .resizer select,
    .resizer button {
      font-size: calc(1rem + 0.8vw);
    }
  
    .resizer .result h3 {
      font-size: calc(1rem + 1.5vw);
    }
  
    .resizer .result .resizedImage button {
      font-size: calc(1rem + 0.8vw);
    }
  }
  
  @media (max-width: 768px) {
    .resizer h2 {
      font-size: calc(1rem + 2vw);
    }
  
    .resizer input,
    .resizer select,
    .resizer button {
      font-size: calc(1rem + 1vw);
    }
  
    .resizer .result h3 {
      font-size: calc(1rem + 2vw);
    }
  
    .resizer .result .resizedImage button {
      font-size: calc(1rem + 1vw);
    }
  }
  
  @media (max-width: 480px) {
    .resizer h2 {
      font-size: calc(1rem + 2.5vw);
    }
  
    .resizer input,
    .resizer select,
    .resizer button {
      font-size: calc(1rem + 1.2vw);
    }
  
    .resizer .result h3 {
      font-size: calc(1rem + 2.5vw);
    }
  
    .resizer .result .resizedImage button {
      font-size: calc(1rem + 1.2vw);
    }
  }
  